<!-- stock add/edit form -->
<div class="text-center border border-light p-5">

    <p class="h4 mb-4">Add/Edit Item</p>

    <div class="md-form">
        <!-- <mdb-icon fas icon="envelope" class="prefix"></mdb-icon> -->
        <input type="text" maxlength="50" class="form-control" id="itemName" mdbInput [(ngModel)]="item.name">
        <label for="itemName">Item Name</label>
    </div>
    <div class="form-row mb-4">
        <div class="col">
            <div class="md-form">
                <!-- <div class="input-group-prepend" id="MaterialButton-addon3">  input-group mb-3
                    <button class="btn round-btn m-0 btn-info" type="button"> - </button>
                  </div> -->
                <input type="number" min=0 max=999 maxlength="3" class="form-control" id="itemQty" mdbInput
                    [(ngModel)]="item.instockqty">
                <label for="itemQty">Item Qty (In Stock)</label>
                <!-- <div class="input-group-append" id="MaterialButton-addon4">
                    <button class="btn round-btn m-0 btn-info btn-sm" type="button"> + </button>
                  </div> -->
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input type="number" min=0.01 maxlength="5" class="form-control" id="itemWeight" mdbInput
                    [(ngModel)]="item.weight">
                <label for="itemWeight">Item weight (In Kg)</label>
            </div>
        </div>
    </div>

    <div class="md-form">
        <input type="text" maxlength="50" class="form-control" id="itemLocation" placeholder="e.g. 2nd box" mdbInput
            [(ngModel)]="item.location">
        <label for="itemLocation">Item Location (Where to find)</label>
    </div>

    <div class="md-form input-group">
        <input type="number" min=1 max=10 class="form-control" id="itemconsumptionrate" 
            [(ngModel)]="item.consumptionrate" mdbInput>
        <label for="itemconsumptionrate">Consumption rate/week/month/quarter</label>
        <div class="input-group-append">
            <div class="btn-group" mdbDropdown>
                <select class="dropdown-toggle z-depth-0" [(ngModel)]="item.consumptionduration">
                    <option value="perweek" class="dropdown-item">Per Week</option>
                    <option value="permonth" class="dropdown-item">Per Month</option>
                    <option value="per3month" class="dropdown-item">Per 3 Month</option>
                </select>
            </div>
        </div>
    </div>
    <span class="mt-4">Last Update Date : {{item.updateDate | date:'medium' }}</span>

    
    <button mdbBtn color="info" block="true" class="my-4" type="button" (click)="updateItem()">Add/Update</button>
    <button mdbBtn color="danger" block="true" class="my-4" type="button" (click)="frame.show()">Remove Item</button>

</div>
<!-- delete popup -->

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger modal-notify" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Remove Item</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center" style="justify-content: space-around;">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p class="h4 mb-3">Are you sure want to remove the item ?</p>
          <p class="h4 mb-3">{{item?.name}}</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="removeItem();frame.hide()">Delete
          <mdb-icon far icon="gem" class="ml-1"></mdb-icon>
        </a>
        <a type="button" mdbBtn color="secondary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Cancel</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>