.list-group-item {
    padding : 5px 10px;
}
.p-t-7 {
    padding-top: 7px;
}
@media (max-width: 426px) {
    .p-5 {
        padding: 5px!important;
    }
    // .list-group {
    //     height: calc(100vh - 175px)!important;overflow-y: scroll;
    // }
}